nav{
    display: flex;
    border-right: 1px solid #ccc;
    width: 200px;flex-flow: column;
}

a{
    margin: 5px;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #ddaa00;
    text-decoration: none;
    color: #ffffff;
}

a:hover a:focus, a:active{
    background-color: #766d4d;
    color:black;
}

a.selected{
    background-color: #eebb11;
    color:black;
}